<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My First ES6 Demo</title>
</head>
<body>
	<h1>My First ES6 Demo</h1>

	<div id="first_test"></div>
	<p>你好</p>
	<p>ES6</p>
	<p>2</p>
	<p>3</p>
	<p>4</p>
	<p>5</p>
<!-- 引入入口js文件 -->
 <script src="/js/index.js" charset="utf-8"></script>

</body>
</html>